

<% sections.map(async(sec) =>{ %>

 <div class="container-fluid section">
<div class="row">
	<div class= "text-center">
		 <h1 class= "section-name"> <%= sec.name %>
		 </h1>
	</div>


   <% sec.urls.map(url =>{ %>
		 <!-- start col -->
			 
     <div class="col-md-6">

	<!-- card  start -->
<div class="card sec-card text-bg-dark mb-3" style="max-width: 18rem;">
		<!-- card body start -->
  <div class="card-body">
		
				<!-- card title start -->
    <h5 class="card-title">
			<%= url.title %>
		</h5>
		<img class= "sec-img mt-2" src= "<%= url.image %>" >
		<hr style= "width: 50px; margin-left: 5px;" />

		<!-- card title end and  text start -->
    <div class="card-text">


<div class= "sec-email d-flex" >
<p class= "sec-mail-text">
	EMAIL:  
</p>
<a href= "<%= url.email %>" class= "sec-mail-url">
<%= url.email %>
</a>
</div>


<div class= "sec-pass d-flex" >
<p class= "sec-pass-text">
	PASSWORD:  
</p>
<p class= "sec-pass-val">
<%= url.password %> 
</p>
			</div>


		</div>
		
	</div>
                </div>
<!-- end card -->
			 
		 </div>
<!-- end col -->
			 

		<% }) %>
			 

				</div>
		<% }) %>