

<% sections.map(async(sec, index) =>{ %>

 <div class="container-fluid section">
	 <!-- start row for grid -->
<div class="row">
	<div class= "text-center">
		 <h1 class= "section-name" id="<%= sec._id %>"> <%= sec.name %> : <%= sec.urls.length %>
		 </h1>
	</div>


   <% sec.urls.map((url) =>{ %>
		 <!-- start col -->
		
     <div class="col-md-6 url">

	<!-- card  start -->
<div class="card sec-card text-bg-dark mb-3" style="max-width: 18rem;" id= "<%= url._id %>">
		<!-- card body start -->
  <div class="card-body">
		
				<!-- card title start -->
	<div class= "card-title  d-flex">
    <h5 class="">
			<%= url.title.slice(0, 16); %>
		</h5>
	<ul class="drop d-flex">
    <li class="dropdown ">
 <button type= "button" data-toggle="dropdown"><img width= "15" src= "/images/design/settings.png"/></button>
      <ul class="dropdown-menu p-3">
edit card <%= url._id %>
      </ul>
    </li> 


		    <li class="dropdown">
      <button type= "button" data-toggle="dropdown"><img width= "15" src= "/images/design/delete.png"/></button>
      <ul class="dropdown-menu p-4">
<p class= "d-block" >  Are You Sure To Delet It? </p>
				<button onClick= "deleteUrl(<%= url._id %>)" class="btn btn btn-danger">
					Delete
				</button>
      </ul>
    </li> 
						</ul>
	</div>
		<img class= "sec-img mt-2" src= "<%= url.image %>" >
		<hr style= "width: 50px; margin-left: 5px;" />

		<!-- card title end and  text start -->
    <div class="card-text">


<div class= "sec-email d-flex" >
<p class= "sec-mail-text">
	EMAIL:  
</p>
<a href= "<%= url.email %>" class= "sec-mail-url">
<%= url.email %>
</a>
</div>


<div class= "sec-pass d-flex" >
<p class= "sec-pass-text">
	PASSWORD:  
</p>
<p class= "sec-pass-val">
<%= url.password %> 
</p>
			</div>


		</div>
		
	</div>
                </div>
<!-- end card -->
			 
		 </div>
<!-- end col -->


		<% }) %>
			 
				</div>
				</div>
		<% }) %>
