<%- include("partails/head.ejs", {
	counter: counter,
	sections: sections
}) %>
<!-- admin ui start -->

	<div id="admin-ui" >
<div class="container">
	<div class= "row">
				<!-- start col 4 -->
<div class="w-md-50 d-none crete-links" id= "settings">
	
<div class="links" >
	<div class="links-btns">
		

  <ul class="drop d-sm-inline-flex">
		<!-- Create section drop down -->
		
    <li class="dropdown mt-2 mx-1">
      <button type= "button" data-toggle="dropdown"> Create New Section </button>
      <ul class="dropdown-menu p-2">

					<div id="create-sec" class="creat-sec" >
	
<%- include("partails/createsec.ejs") %>
	
		</div>

				
      </ul>
    </li>  
		<!-- Create user drop down -->
		<li id="isAdmin" class="dropdown d-none mt-2 mx-1">
      <button type= "button" data-toggle="dropdown">Create New User </button>
      <ul class="dropdown-menu p-2">


	<div id="create-user" class="creat-user" >
		
<%- include("partails/createuser.ejs") %>

	</div>

      </ul>
		</li>

			<!-- Create url drop down -->

		<li class="dropdown mt-2 mx-1">
      <button type= "button" data-toggle="dropdown" class= "d-flex"> 
				Create New Record 
			</button>
      <ul class="dropdown-menu p-2">
     	<div id="create-url" class="creat-url" >
			
<%- include("partails/createurl.ejs", {
	sections: sections
}) %>
	</div>

      </ul>
		</li>

		
  </ul>
		
	</div>


</div>
</div>
		<!-- end col 4  and start col 8-->
	<div class="col-md-12" >
<%- include("partails/section.ejs", {
	sections: sections
}) %>
	
	</div>
				<!-- end col 8 -->
		
</div>


</div>
	</div>

	<!-- end  ui -->

<%- include("partails/footer.ejs") %>

